body {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

#title {
	padding: 2px;
	padding-left: 5px;
	border-bottom: 1px solid black;
	margin: 0px;
	font-weight: 500;
	background-color: #ECF3FD;
	font-size: 100%;
	position: fixed;
	top: 0px;
	width: 100%;
}

.floatright {
	float: right;
}

pre {
	margin-top: 0;
}

table.diff {
	margin-top: 0;
}

#notification {
	margin-top: 30px;
}

table.diff tr td a.stagebutton {
	display: block;
	width: 40px;
	padding: 0 2px 0 2px;
	margin-bottom: 4px;
	margin-right: 10px;

	border: 1px solid #3465a4;
	background-color: #cce5ff;
	color: #204a87;

	font-family: 'Lucida Grande';
	font-size: 80%;
	text-decoration: none;
	text-align: center;

	-webkit-border-radius: 2px;
	float: left;
}

code div .button {
	margin-top: 1px;
	margin-right: 10px;
	display: none;
	float: right;

	padding-left: 4px;
	padding-right: 4px;

	font-family: 'Lucida Grande';
	font-size: 60%;
	text-decoration: none;
	text-align: center;

	border: 1px solid gray;
	-webkit-border-radius: 2px;
	color: gray;
	background-color: #FAFAFA;
}

code .addline:hover {
	border: 2px solid #7AF451;
	-webkit-border-radius: 4px;
}

code .delline:hover {
	border: 2px solid #FA5035;
	-webkit-border-radius: 4px;
}

code .addline:hover .button, code .delline:hover .button {
	display: block;
}

